<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.goldenpiedevs.schedule.app">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ScheduleApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.launcher.LauncherActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.choose.group.ChooseGroupActivity" />
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.lesson.LessonActivity" />
        <activity android:name=".ui.fragment.keeper.FragmentKeeperActivity" />
        <activity
            android:name=".ui.preference.PreferenceActivity"
            android:label="@string/settings" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d1532bea837e3abf29e92dca516b1c1ab497ea4e" />
    </application>
</manifest>
